<h1 class="text-center">Lista de Documentales </h1>
<br>
<div class="container">
<p>El documental <%= @doculast.title %> ha sido ingresado con exito</p>
<br>
<ol>
    <% @documentaryfilm.each do |doc| %>
        <li><%= doc.title %></li>
    <% end %>

</ol>
</div>
