<h1 class="text-center">Lista de Peliculas </h1>
<br>
<div class="container">
<p>La Pelicula <%= @movielast.title %> ha sido ingresada con exito</p>
<br>
<ol>
    <% @movie.each do |mov| %>
        <li><%= mov.title %></li>
    <% end %>

</ol>
</div>
